/*hide the span tag which display main price value*/
.cs-convertor-wrap-data-2 {
    display: none;
}
/* set margin for notice */
.cswp-notice{
	margin-left: 0px !important;
}

/* css for manual and api key option */
/*#cs-api-display2 {
    display: none;
}*/
/*#cs-api-display{
	display: none;
}*/
/*#cs-manual-display{
display: block;
}*/

/* Manual page css */
.cswp-list{
  list-style-type: square;
  margin: 10px 10px 10px 10px;
}

/* Table CSS */
 .cswp_api_note td{
	padding: 0px !important;
}
.cswp_api_note .cswp_apidescription{
 margin-top: 0px;
 margin-bottom: 0px;
 margin-left:12px;
} 
td.cswp_note_rate {
    padding: 0px 0px;
}
